@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

// Badge CSS from original Badge.vue
.badge {
  border-radius: 8px;
  background-color: $color-blue;
  padding: 6px 12px;
  color: $color-white;
  font-size: 16px;
}

// Button CSS from original Button.vue
.button {
  border: 1px solid $color-blue;
  padding: 10px 16px;
  transition: 200ms ease all;
  color: $color-blue;
  background: transparent;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &__icon {
    padding-right: 4px;
  }

  @include mobile {
    font-size: 14px;
    padding: 8px 14px;
  }
}

// ProjectItem CSS from original ProjectItem.vue
.project-item {
  transition: 200ms ease all;
  cursor: pointer;
  border-radius: 8px;
  background: $color-white;
  padding: 1.5rem;
  text-decoration: none;
  display: block; // Next.js <Link> is inline by default, we need it to behave like <RouterLink> block
  
  @include mobile {
    padding: 1rem;
  }

  &:hover {
    transform: scale(1.02);
  }

  a {
    text-decoration: none;
  }

  &__thumbnail {
    width: 100%;
    border-radius: 6px;
    border: 1px solid $color-light-gray;
    display: block; // added for image spacing
    height: auto; // to avoid squishing
  }
  
  &__title {
    margin-top: 16px;
    color: $color-dark-gray;
    font-family: $font-bold;
    font-size: 28px;

    @include mobile {
      font-size: 24px;
    }
  }
  
  &__description {
    color: $color-gray;
    font-size: 18px;
    margin-top: 8px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__tech-stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
  }
}

// HomePage CSS from original HomePage.vue
.home {
  background-color: $color-light-gray;

  &__landing {
    display: flex;
    justify-content: space-around;
    gap: 56px;
    padding-top: 120px;

    &-wrapper {
      position: relative;
      z-index: 3;
      box-shadow: 0 4px 4px 0px $color-shadow;
      background-color: $color-white;
    }
    
    .landing {
      &__content {
        align-self: center;
        margin-bottom: 80px;

        .content {
          &__greetings {
            color: $color-dark-gray;
            font-size: 24px;
            
            @include mobile {
              font-size: 20px
            }
          }
          &__title {
            color: $color-blue;
            font-family: $font-black;
            font-size: 72px;
            max-width: 400px;
            margin: 0; // added margin 0 to match h1 defaults in Next vs Vue div
            
            @include mobile {
              font-size: 44px
            }
          }
          &__subtitle {
            color: $color-dark-gray;
            font-family: $font-bold;
            font-size: 26px;
            margin-top: 8px;

            @include mobile {
              font-size: 22px;
            }
          }
          &__description {
            color: $color-gray;
            margin-top: 24px;
            font-size: 18px;

            @include mobile {
              margin-top: 16px;
              font-size: 16px;
            }
          }
          &__actions {
            margin-top: 32px;
            display: flex;
            align-items: center;
            gap: 24px;
            flex-wrap: wrap;

            @include mobile {
              margin-top: 24px;
              gap: 16px;
            }

            .actions {
              &__contact-item {
                color: $color-gray;

                svg, i {
                  width: 28px;
                
                  @include mobile {
                    width: 24px;
                  }
                }

                &:hover {
                  color: $color-blue;
                }
              }
            }
          }
        }
      }

      &__image {
        width: 32%;
        align-self: flex-end;
        display: block; // added for image spacing
        height: auto; // to avoid squishing

        @include mobile {
          display: none;
        }
      }
    }
  }

  &__projects {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include mobile {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .projects {
      &__title {
        font-size: 44px;
        font-family: $font-black;
        color: $color-blue;
        margin: 0 0 24px;

        @include mobile {
          font-size: 28px;
          margin-bottom: 16px;
        }
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        
        @include mobile {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    color: $color-dark-gray;
    padding: 20px 0;
    font-size: 16px;
  }
}
